*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&display=swap');

html{
    font-size: 62.5%;
}



.font-destacados{
    font-family: 'Finlandica', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



body{
    background-size: cover;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    font-family: 'Finlandica', sans-serif;
    font-size: 20px;   
}


header{
    display: flex;
    justify-content: space-between;
    background: #2fcdcd;
    height: 100px;

}

nav{
    padding-top: 30px;
}

    
.iconoBarra{
    width: 80px;
    height: 80px;
}

ul li{
    list-style: none;

}

ul li a{
    text-decoration: none;
    font-size: 25px;
    margin: 0 100px;
    font-weight: bold;
    color: black;
        
}

.lista_index{
    display: flex;
}
/* index */


.image_grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    border: 4px solid black;

}

.grid_index{
    display: grid;
    grid-template-areas:"imageIndex1 imageIndex2" 
                        "imageIndex3 imageIndex4";
    margin: 100px 0;
    gap: 50px;      
    grid-template-columns: 40% 40%;
    grid-template-rows: 500px 500px;
    grid-auto-flow: dense;
    justify-content: center;
}


.decorandoIndex{
    font-weight: bold;
    color: black;
    text-align: center;
}

.videoIndex{
    margin-top: 50px;
    text-align: center;
}

/* Pagina Contacto */

.main_contacto{
    display: flex;
    height: 600px;
    justify-content: center;
    margin: 100px 0px;
}


.textoo{
    width: 600px;
    height: 600px;
    background-color: rgb(129, 181, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 30px;
}

.h3_contact{
    padding-bottom: 20px;
}


.text--t2{
    padding: 10px 0;
    font-size: 17px;
}
.text--t3{
    font-size: 17px;
    list-style: none;
}

.textoo h3{
    font-style: bolder;
}


.formulario_contacto{
    background-color:#17161Dff ;
    border: none;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


fieldset .letras input{
    width: 300px;
    height: 50px;
    background-color: #17161Dff;
    font-size: bold;
    color: white;
    margin: 15px 0;
    display: flex;
    text-align: start;
    
}

.letras .item4{
    height: 100px;
}

.opcional_titulo{
    color: white;
}
.opcional{
    color: white;
    margin: 5px 0;
}

.buttonss{
    border: none;
    background-color: rgb(181, 208, 213);
    color: #17161Dff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin-top: 8px;
}
/* Pagina Contacto */

/* Nosotros */
.foto-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px white;
    width: 100%;
    
}

.foto-grid:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-nosotros{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 3px;
    padding-top: 30px;
    grid-auto-flow: dense;
}




.foto1{
    background-image: url(../assets/contacto/KRAU2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.foto2{
    background-image: url(../assets/contacto/Arbol-de-pared-01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.foto3{
    background-image: url(../assets/contacto/15fd8fa6aa4685aa56776e09dad9adb1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


.foto4{
    background-image: url(../assets/contacto/D_NQ_NP_734221-MLM41328183638_042020-O.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto5{
    background-image: url(../assets/contacto/fibrofacil_infantiles.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto6{
    background-image: url(../assets/contacto/lámpara.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto7{
    background-image: url(../assets/contacto/IMG-20220424-WA0029.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



.parrafonosotros{
    text-decoration:solid;
    color: black;
    margin: 20px;
    margin-top: 50px;
}

.tituloNosotros{
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

.itemsNosotros li{
    text-decoration: none;
    margin: 40px;
}



/* Nosotros */

/* 3MM */

.item-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px white;
}
.grid_3mm{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 300px 300px;
    grid-template-areas:"itemm0 itemm0 itemm1 itemm2"
                        "itemm0 itemm0 itemm3 itemm4";
    gap: 60px;
    margin-top: 100px;
    padding-left: 200px;
}
.itemm0{
    grid-area: itemm0;
    padding: 80px;
    color: goldenrod;
    font-weight: bold;
}

.titulo_3mm{
    margin-top: 120px;
    text-align: center;
    
}



.agregar_carrito{
    position: relative;
    top: 170px;
    border: none;
    background:#350642;
    color: #dcc2e4;
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}
.agregar_carrito:hover{
    background: pink;
    color: #fff;
}

/* footer */

.footer{
    padding: 40px 0;
    background-color: #8fd4d4;
    margin-top: 75px;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}


.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 0px;
    padding-right: 40px; 
    text-align: end;
    font-size: 14px;
    font-weight: bold;
    color: snow;
}


@media (max-width: 480px){
    .grid_index{
        width: 90%;
        grid-template-areas:"imageIndex1" 
                            "imageIndex2" 
                            "imageIndex3" 
                            "imageIndex4";
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(4, 400px);
        padding-left: 40px;
    }

    .videoIndex iframe{
        width: 400px; 
        height: 300px;

    }
    .tituloNosotros{
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }
    .parrafonosotros{
        font-size: 14px;
    }

    ul li a{
        font-size: 15px;   
        margin: 0 10px;
    }
    .main_contacto{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    .formulario_contacto{
        width: 400px;
    }
    .textoo{
        width: 400px;
        height: 700px;
    }

    .grid_3mm{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
        padding-left: 0px;
        align-items: center;
        justify-content: center;
    }

    .itemm0{
        padding: 30px;
        color: goldenrod;
        font-weight: bold;
        font-size: 14px;
    }
    .item-grid{
        background-color: #03afff;
        border-radius: 4px;
        border: solid 1px white;
        width: 250px;
        height: 200px;
        margin: 20px 0;
    }


    .agregar_carrito{
        position: relative;
        top: 110px;
        border: none;
        background-color: rgb(181, 208, 213);
        color: #17161Dff;
        width: 150px;
        height: 25px;
        font-size: 15px;
    }

}


@media (min-width: 480px){
    .foto1{
        grid-column: span 2;
        grid-row: span 2;
    }
    .foto4{
        grid-row: span 2;
    }
    .foto5{
        grid-column: span 2;
    }
}











